div.notice {
    background-color: RGBa(255, 200, 200, 1);
    border: 1px solid red;
    padding: 20px;
}
div.success {
    background-color: RGBa(200, 255, 200, 1);
    border: 1px solid green;
    padding: 20px;
}