/* *************** CSS3 font definition ******************* */
@font-face {
    font-family: 'BerlinSansFbDemiBold';
    src: local('☺'), url('berlin-sans-fb-demi-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    color: #7fb5d0;
}
@font-face {
    font-family: 'BerlinSansFb';
    src: local('☺'), url('berlin-sans-fb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    color: #7fb5d0;
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;

}
body {
    padding: 0;
    margin: 0;
    font-family: 'BerlinSansFb';
    color: #00273a;
    height: 100%;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#31A1FF));
    background-image: -moz-linear-gradient(19% 75% 90deg,#FFFFFF, #31A1FF);
}
#wrap {
    padding: 0;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0;
    width: 980px;
    min-height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.2);
}
nav {
    overflow: hidden;
    position: relative;
    width: 100%;
    float: left;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: 0px 2px 4px RGBa(0,0,0,0.3);
    font-family: 'BerlinSansFbDemiBold';


    ul {
        clear: left;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        left: 50%;
        text-align: center;
        display: block;

        li {
            position: relative;
            display: block;
            float: left;
            padding-right: 50px;
            position: relative;
            right: 50%;
        }
    }
}
#highlights {
    float: left;
    height: 400px;

    div#highlights-title {
        float: left;
        position: relative;
        bottom: 100px;
        left: 80px;
        z-index: 1;
        font-size: 24px;
        color: inherit;
        text-shadow: 2px 2px 1px RGBa(200,200,255,0.4);
        font-family: 'BerlinSansFbDemiBold';
    }
    div#highlights-navigation {
        float: left;
        position: relative;
        bottom: 70px;
        left: -200px;
        z-index: 1;


    }
    img {
        position: relative;
        top: 0px;
        float: left;
        z-index: 0;
    }
}
#main {
    width: 600px;
    padding-left: 40px;
    padding-right: 40px;
    float: left;
}
#right-bar {
    width: 260px;
    float: left;
    padding-right: 40px;
}
//#right-bar {
//    width: 260px;
//    float: left;
//    padding-right: 40px;
//}


#cloud-1 {
    position: relative;
    padding: 0;
    margin:  0;
    opacity: 1;
    background-image: url("cloud.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -100;
}
#cloud-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.2;
    background-image: url("cloud.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 150% 60%;
    overflow: hidden;
    z-index: -100;
    float: left;
}
#cloud-3 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-image: url("cloud.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 90% 80%;
    overflow: hidden;
    z-index: -100;
    float: left;
}
#cloud-4 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-image: url("cloud.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 120% 100%;
    overflow: hidden;
    z-index: -100;
    float: left;
}
#cloud-5 {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.1;
    background-image: url("cloud.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: 0% 120%;
    overflow: hidden;
    z-index: -100;
    float: left;
}

a {
    text-decoration: none;

    -moz-transition-property: color;
    -moz-transition-timing: .4s;
    -moz-transition-function: ease-out;
    -webkit-transition-property: color;
    -webkit-transition-duration: .4s;
    -o-transition-property: color;
    -o-transition-duration: .4s;
    color: #7fb5d0;

}
a:visited {
    text-decoration: none;

}

a:hover {
    -moz-transition-property: color;
    -moz-transition-timing: .4s;
    -moz-transition-function: ease-out;
    -webkit-transition-property: color;
    -webkit-transition-duration: .4s;
    -o-transition-property: color;
    -o-transition-duration: .4s;
    color: #00273a;
}